<% if current_user.present? %>
  <div class="container">
    <div class="welcome-message">
      <h2><%= t(".welcome") %> <%= current_user.first_name %> <%= current_user.last_name %></h2>
    </div>
    <div class="go-to">
      <%= link_to t(".console"), console_index_path(locale: I18n.locale) %>
    </div>
  </div>
  <% else %>
  <div class="main-image">
    <div class="title">
      <h1>GO TO EVENT</h1>
      <p>
        Application for internal navigation and discovery
      </p>
    </div>
    <%= image_tag "main.jpg" %>
  </div>
  <% end %>
