<div class="container">
  <div class="login-header">
    <h1>Log in</h1>
  </div>
  <div class="well col-md-5 col-md-offset-4 login-sec">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, autocomplete: 'current-password' %>
      </div>

      <div class="actions">
        <%= link_to t(".sign_up"), new_user_registration_path, class: 'btn btn-success' %>
        <%= f.submit t(".sign_in"), class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
